.rl {
        padding:3px 0px 3px 10px;
        color:#fff;
        width:100px;
        border-radius:10px;
}
#running_legend {
        display:flex;
        font-size: 11px;
        flex-direction:row;
        width:fit-content;
        gap:5px;
}
.rl_1m { background-color:#008900;}
.rl_5k { background-color:#006e9d;}
.rl_10k { background-color:#c96400;}
.rl_tag {
        width: 100%;
        padding: 3px;
        display: inline-block;
        box-sizing: border-box;
        color: #fff;
        border-radius: 10px;
        padding-right: 8px;
}

