#_bounders_iframe {
    display:flex;
    justify-content:center;
    width:100%;
    height:800px;
    border:0;
}
.controls {
    background-color:#000000aa;
    color:white;
    text-align:center;
    font-size:16px;
    font-family: 'Open Sans', Helvetica, sans-serif;
}
.controls a {
    color:#ffffff;
}

