html {
    height:100%;
}
body {
    margin: 0;
    font-family: 'Open Sans', Helvetica, sans-serif;
    min-height:100%;
    height:100vh;
/*    background: fixed url(/images/42.jpg);*/
/*    background: fixed linear-gradient(135deg, #e7e7e7, #00000000);*/
    background: fixed radial-gradient(circle, #000000ff 0%, #0f2440ff 100%);
    background-size:cover;
}
code {
    color:#a5caff;
    /*background-color:#f7f7f7;*/
    padding:1px;
}
a {
    color: #227d00;
}
a:hover {
    color: #666666;
}
s {
    text-decoration-color: #0075ff;
}
#logo {
    cursor:pointer;
    width:55px;
    height:46px;
}
#ue {
    color: #227d00;
}
.code_example {
    margin-left: 15px;
}
.seconds {
    font-size:12px;
    color:#00ceff;
}
.super {
    position:relative;
    top:-0.5em;
    font-size:75%;
}
.sub {
    position:relative;
    top:0.5em;
    font-size:75%;
}
sub {
    font-size:9px;
}
.external_link::after {
    content:url(/images/icons/el.png);
    vertical-align:middle;
    padding-left:5px;
}
.download::after {
    content:url(/images/icons/download.png);
    vertical-align:middle;
    padding-left:5px;
}
#the_one_ad {
    margin-top:40px;
    writing-mode:vertical-rl;
    /*text-orientation:upright;*/
    /*font-family:impact;*/
    font-size:25px;
}
#the_one_ad a {
    cursor: pointer;
    text-decoration: none;
    color:#00000011;
    color:#5e12580f;
}
