.DevOverlay {
	display:none;
	position:fixed;
	z-index:1;
	background-color:#000000b8;
	width:100%;
	height:100%;
	text-align:center;
	align-content:center;
	color:white;
	font-size:40px;
}
.DevOverlay::after{
	content:'Under Development';
}
._byb_trade {
	width:100%;
}
._byb_trade_panel {
	display:inline-flex;
	gap:1px;
	border-bottom:4px solid #0c1e36b8;
}
._byb_trade_panel_chart {
	position:relative;
	width:600px;
	height:350px;
}
._byb_chart_overlay {
	display:flex;
	flex-direction:row;
	flex-wrap:nowrap;
	justify-content: flex-start;
	align-items:center;
	position:absolute;
	top:3px;
	left:100px;
	font-size:11px;
	font-weight:bold;
	color:#0167a5;
}
._byb_chart_overlay span {
	text-align:center;
}
._byb_chart_price {
   padding-left:20px; 
}
._byb_trade_panel_book {
	position:relative;
	width:200px;
}
._byb_trade_balances {
	display:flex;
	flex-direction:column;
	background-color:#000000bb;
}
._byb_trade_wallet_overlay::after {
	content:'Loading wallet...';
	color:white;
	font-size:22px;
}
._byb_trade_panel_book_overlay::after{
	content:'Loading...';
	color:white;
	font-size:22px;
}
._byb_trade_panel_fill_overlay::after{
	content:'Loading...';
	color:white;
	font-size:22px;
}
._byb_trade_panel_fill {
	position:relative;
	width:250px;
}
._byb_ddl_fill {
	max-height:322px;
	color: #059d00;
}
._byb_fill_B {
	color: #059d00;
}
._byb_fill_S {
	color: #df0150;
}
#_byb_market_panel_container {
	position:fixed;
	display:inline-flex;
	right:0;
	width:600px;
	top:56px;
	height:auto;
	z-index:15;
}
#_byb_market_panel {
	display:grid;
	gap:1px;
	grid-template-columns: 1fr 1fr;
	width:100%;
}
#markets_cart {
	display:flex;
	flex-direction:column;
	max-height:350px;
}
._byb_cart_label {
	padding-right:10px;
	border-right:1px solid #183866;
}
._byb_cart_money {
	font-family:monospace;
	white-space:pre;
	padding-left:10px;
}
._byb_market_row {
	font-size:13px;
	padding:2px 8px 2px 0px;
	display:inline-flex;
	justify-content:flex-end;
	align-items:center;
	color:#eee;
}
._byb_market_row_bybs {
	background-color:#0d2b50;
}
._byb_market_row img {
	padding:0px 3px;
}
#_byb_market_orders {
	max-height:calc(100vh - 400px);
	grid-column: 1 / span 2;
	display:flex;
	flex-direction:column;
}
#_byb_market_leaderboard {
	display:flex;
	flex-direction:column;
	max-height:350px;
}
._byb_orders_header {
	font-size: 14px;
	color:#fff;
	text-align:right;
	background-color:#051c3c3d;
	border-bottom:1px solid #0c1e36;
	padding:5px 5px 5px 0;
}
._byb_ddl_grid {
	display:grid;
	grid-template-columns: 1fr 1fr;
	/*border-bottom:1px solid #bbb;*/
}
._byb_ddl_scrollbar {
	/*scrollbar-width:none;*/
	cursor:row-resize;
	overflow-y:scroll;
	scrollbar-color:#081522 #030c18;
	scrollbar-width:thin;
}
._byb_ddl_buy {
	max-height:146px; /*minus 1 for grid gap border */
	color: #059d00;
}
._byb_ddl_sell {
	max-height:146px; /*minus 1 for grid gap border */
	color: #df0150;
}
._byb_ddl_header_cell {
	display:inline;
	white-space:pre;
	overflow:hidden;
	padding:3px 4px 3px 0;
	color: #d3d3d3;
	text-align:right;
	font-size:12px;
	cursor:pointer;
	position:sticky;
	top:0;
	background-color:#00000070;
}
._byb_ddl_data_cell {
	display:inline;
	padding:1px 4px 1px 0px;
	overflow-y:hidden;
	overflow-x:hidden;
	font-size:12px;
	text-align:right;
	background-color:#040a11;
}
._byb_ddl_data_cell:hover {
	background-color:#121b28;
}
#_byb_market_resize {
	text-align:center;
	font-size:10px;
	background-color:#ffffff26;
	cursor:ew-resize;
	align-content:center;
	border-top-left-radius:5px;
	border-bottom-left-radius:5px;
}
#_byb_market_resize:hover {
	background-color:#366d0dc2;
}
#_byb_market_resize::after {
	content:'\25C0';
}
._byb_cart_tab_container {
	margin:5px;
	display:grid;
	gap:5px;
	grid-template-columns:1fr 1fr;
}
._byb_cart_tab {
   align-content:center;
   text-align:center;
   height:30px;
   border:1px solid #eeeeee;
   background-color:#dddddd;
   border-radius:15px;
   font-size:12px;
}
._byb_cart_tab:first-child {
/*    border-right: 1px solid black;*/
}
._byb_cart_tab_buy:hover {
	background-color:#245826;
	color:#eeeeee;
	cursor:pointer;
}
._byb_cart_tab_sell:hover {
	background-color:#bb0047;
	color:#eeeeee;
	cursor:pointer;
}
._byb_cart_tab_buy_on {
	background-color:#245826;
	color:#eeeeee;
}
._byb_cart_tab_sell_on {
	background-color:#bb0047;
	color:#eeeeee;
}
._byb_cart_order_container{
	display:flex;
	flex-direction:column;
	align-items:flex-end;
	position:relative;
	top:0;
	left:0;
	width:100%;
	height:100%;
	padding-top:5px;
	background-color:#000000bb;
}
._byb_cart_order_container input {
	text-align:right;
}
._byb_trade_loading_overlay {
	position:absolute;
	top:0;
	background-color:#000000ad;
	width:100%;
	height:100%;
	z-index:4;
	align-content:center;
	text-align:center;
}
#_byb_cart_order_overlay::after{
	content:'Choose Buy or Sell';
	color:white;
	font-size:22px;
}
._byb_cart_order_grid {
	display:grid;
	grid-template-columns:1fr 1fr;
	color:white;
	font-size:13px;
	text-align:right;
	gap:5px;
	margin:0 5px;
}
._byb_cart_order_grid > select {
	width:125px;
	background-color:#eafbff;
}
._byb_cart_order_grid input {
	width:80px;
	background-color:#fff9e5;
	border:1px solid #ffffff77;
}
._byb_cart_order_button {
	margin:10px 5px 0 0;
	background-color:#dddddd;
	text-align:center;
	align-content:center;
	box-sizing:border-box;
	padding:4px 5px 4px 5px;
	font-size:12px;
	border-radius:14px;
}
._byb_cart_order_button:hover{
	cursor:pointer;
	background-color:#245826;
	color:#eeeeee;
}
._byb_order_button_bar {
	display:flex;
	justify-content:space-around;
	align-items:baseline;
	flex-direction:row;
	flex-wrap:nowrap;
	width:100%;
}
#_byb_cart_market_select {
	
}
._byb_leaderboard_header {
	font-size: 14px;
	color:#fff;
	text-align:right;
	background-color:#051c3c3d;
	border-bottom:1px solid #0c1e36;
	padding:5px 5px 5px 0;

	display:flex;
	flex-direction:row;
	flex-wrap:nowrap;
	justify-content:flex-end;
	align-items:center;
}
._byb_cart_order_status {
	color:#90c5ed;
	text-align:center;
	max-width:110px;
	word-wrap:normal;
	word-break:break-all;
	overflow:hidden;
	padding-left:10px;
	font-size:12px;
}
.order_cancel {
	color:#990000;
}
.refresh_button {
	background: url('/images/icons/refresh1.png');
	background-repeat:no-repeat;
	cursor:pointer;
	width:16px;
	height:16px;
	margin-left:6px;
	opacity:0.65;
}
.refresh_button:hover {
	opacity:0.85;
}
._byb_tab_small {
	font-size:11px;
}
._byb_cart_number_modifier {
	display:flex;
	flex-wrap:nowrap;
	justify-content:flex-end;
	gap:7px;
	margin:3px 6px;

}
._byb_cart_number_modifier_button {
	background-color:#fff;
	border-radius:4px;
	font-size:10px;
	padding:2px 5px;
	cursor:pointer;
}
._byb_cart_number_modifier_button:hover {
	background-color:#dcff45;
}
.toodoo {
	position:absolute;
	padding-left:10px;
	width:90%;
	color:#ababab;
	background-color:#057db377;
}
#_byb_market_orders ._byb_grid_search_cell {
        top:26px;
}
#_byb_market_orders ._byb_table_search_cell {
        top:26px;
}
#_byb_market_leaderboard ._byb_grid_search_cell {
        top:26px;
}
#_byb_market_leaderboard ._byb_table_search_cell {
        top:26px;
}

