.comment_box {
    max-height:200px;
    overflow-y:scroll;
    overflow-x:hidden;
    white-space:pre-wrap;
    word-break:break-all;
    scrollbar-color: #551a8b #f1f1f1;
    scrollbar-width: thin;
    padding-right: 8px;
}
.comment_container {
    display:block;
    box-shadow: 5px 4px 6px -4px #b4b4b4;
    -moz-box-shadow: 5px 4px 6px -4px #b4b4b4;
    -webkit-box-shadow: 5px 4px 6px -4px #b4b4b4;
    border-bottom-right-radius:8px;
}
.comment {
    font-size:12px;
    background-color:#551a8b;
    color:#fff;
    padding:4px 4px 4px 8px;
}
.comment:before, .comment:after {
    content:'"';
}
.comment_by {
    text-align:right;
    font-size:12px;
    background-color:#faedff;
    padding:4px 5px 4px 0;
    margin-bottom:10px;
/*    box-shadow: 2px 6px 4px -4px #b4b4b4;
    -moz-box-shadow: 2px 6px 4px -4px #b4b4b4;
    -webkit-box-shadow: 2px 6px 4px -4px #b4b4b4;*/
}
.comment_by:before {
    content:'- ';
}
