#_byb_container {
	display:flex;
/*	height:100%;*/
}
#_byb_footer_top {
	text-align:center;
	font-size:12px;
	bottom:0;
	position:fixed;
	left:75px;
	width:90%;
	width:-webkit-calc(100% - 75px);
	width:-moz-calc(100% - 75px);
	width:calc(100% - 75px);
}
#_byb_footer_bottom {
	text-align:center;
	font-size:10px;
	bottom:0;
	position:fixed;
	right:0;
}
#_byb_footer_ref {
	display:inline-block;
	width:100%;
	background-color:#f6fcff;
}
#_byb_documentation_content {
	font-size:12px;
}
#_byb_documentation_content > p {
   margin:0;
   padding-bottom:5px;
}
#_byb_documentation_content > ul {
   margin:0;
}
._byb_version {
	color:#00ceff;
	font-size:10px;
	position:absolute;
	top:21px;
	left:16px;
}
._byb_bug {
	color:#ffcfa5;
}
._byb_version_number {
	color: white;
}
#_byb_bar {
	padding:7px;
	margin:0;
	width:100%;
	white-space:nowrap;
	overflow-y:hidden;
	overflow-x:hidden;
}
#_byb_bar_okay {
	position:relative;
	display:none;
}
#_byb_bar_error {
	position:relative;
	display:none;
}
#_byb_bar_loader {
	position:relative;
	display:block;
}
#_byb_bar_left {
	position:relative;
	padding:0 0 0 15px;
	letter-spacing:2px;
}
#_byb_sub_title {
	color:#fff5c2;
}
#_byb_bar_right {
	position:relative;
	display:flex;
	gap:5px;
	right:100px;
}
#_byb_left {
	width:72px;
	height:100%;
	position:fixed;
	background-color:#f9f9f9;
	border-right:1px solid #0c1e36;
}
#_byb_logo {
	position:relative;
	padding-left:9px;
	padding-top:5px;
}
#_byb_nav {
	position:relative;
	justify-items:center;
	display:grid;
}
.nav_item_icon {
	cursor:pointer;
	position:relative;
	font-size:12px;
	text-align:center;
	color:#0d2038;
	border-bottom: 1px solid #0e203933;
	border-top:1px solid transparent;
	padding:6px;
}
.nav_item_icon:hover {
	background-color:#ffffff;
	border-radius:8px;
	border-bottom:1px solid #7db144;
}
.nav_item_icon_on {
	background-color:#ffffff;
	border-radius:8px;
	border-bottom:1px solid #7db144;
	border-top:1px solid #7db144;
}
.nav_item_icon img {
	width:22px;
	height:22px;
}
#_byb_content {
	width:100%;
	position:relative;
	margin-right:73px;
	left:73px;
}
#_byb_content_main {
	margin-top:56px;
	margin-left:1px;
	position: relative;
	height:auto;
}
#_byb_content_head {
	display:flex;
	position:fixed;
	justify-content:space-between;
	align-items:center;
	white-space:nowrap;
	top:0;
	height:55px;
	width:100%;
	margin:0;
	background-color:#00000088;
	color:#8bc34a;
	border-bottom: 1px solid #0c1e36;
	z-index:10;
}
#_byb_dialog {
	display:flex;
	justify-content:center;
}
#_byb_dialog_content {
}
#_byb_float_dialog {
}
#_byb_float_dialog_content {
}
._byb_block {
	display:block;
}
._byb_right_rad {
	border-top-right-radius:8px;
	border-bottom-right-radius:8px;
}
._byb_top_rad {
	border-top-left-radius:8px;
	border-top-right-radius:8px;
}
._byb_top_rad_5 {
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}
._byb_bot_rad {
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}
._byb_top_right_rad_10 {
	border-top-right-radius:10px;
}
._byb_top_left_rad_5 {
	border-top-left-radius:5px;
}
._byb_top_left_rad_5:hover {
	border-top-left-radius:0px;
}
._byb_bot_left_rad_5 {
	border-bottom-left-radius:5px;
}
._byb_bot_left_rad_5:hover {
	border-bottom-left-radius:0px;
}
._byb_rel_l9 {
	position:relative;
	left:9px;
}
._byb_button {
	padding:5px;
	border:1px solid #0c1e36;
	background-color:#ebfdff;
	color:black;
	font-weight:bold;
	font-size:13px;
	text-decoration:none;
	border-radius:8px;
	cursor:pointer;
}
._byb_button:hover {
	background-color:#f5fff3;
}
._byb_inline {
	display:inline;
}
._byb_error {
	display:none;
	background-color:#fee;
	border:1px solid #9d032e;
	padding:3px;
	color:black;
	opacity:1;
	border-radius:3px;
}
._byb_okay {
	display:none;
	background-color:#f5fff3;
	border:1px solid #169d03;
	padding:0 4px 0 4px;
	color:black;
	opacity:1;
	border-radius:3px;
}
._byb_loading {
	display:none;
	position:relative;
	content:url(/static/images/loader.gif);
	height:36px;
}
._byb_dialog_loading:before {
	position:absolute;
	content:url(/static/images/loader.gif);
	height:36px;
	text-align:center;
	z-index:10;
}
._byb_bar_status {
	padding:2px 4px 0 4px;
	font-size:12px;
	height:20px;
}
/* jquery ui edits */
.ui-widget {
	font-family:'Open Sans',Helvetica, Sans-serif;
}
.ui-widget.ui-widget-content {
	border-radius:10px;
}
.ui-widget-header {
	background:unset;
	background-color:#233a53f0;
	background-color:#051c3cf0;
	padding:4px 0 0 4px;
	color:white;
	border:0;
	border-radius:10px;
}
.ui-widget button {
	font-family:'Open Sans',Helvetica, Sans-serif;
}
.ui-dialog .ui-dialog-buttonpane button {
	margin:.2em;
	cursor:pointer;
	padding:0 7px 2px 7px;
	font-weight: unset;
	color:#2f455d;
	background:unset;
	border:1px solid #0c1e36;
	background-color:#ebfdff;
}
.ui-dialog .ui-dialog-buttonpane button:hover {
	background-color:#f5fff3;
}
.ui-dialog .ui-dialog-title {
	margin:0;
	font-weight:normal;
}
.ui-dialog-titlebar-close {
	visibility:hidden;
}
.github_icon {
	vertical-align:middle;
	width:24px;
	height:24px;
	padding-bottom:3px;
}
.github_icon:hover {
	cursor:pointer;
	background-color:#ffffff3d;
	border-radius:17px;
}
#_byb_layouts {
	display:none;
}

.toggler {
	cursor:crosshair;
	background-color:#081828;
	color:#fff;
	padding: 0 3px;
}
.toggler:hover {
	background-color:#1a3000;
}
.toggler::after{
	position:relative;
	top:-0.5em;
	font-size:75%;
	content:'+';
}
.toggler::before{
	position:relative;
	top:0.5em;
	font-size:75%;
	content:'+';
}
._byb_hidden {
	display:none;
}
#audio_display {
	display: inline-block;
	position: relative;
	top: 5px;
	padding-left: 10px;
}
#_byb_dialog_logo img {
	width:30px;
	height:30px;
}
#Mr_audio {
	height: 23px;
}
#_byb_login_form_jwt {
        display:none;
}
#g_id_onload {
        display:none;
}
.ghide {
	display:none;
}
.gsn {
	cursor:pointer;
	width:28px;
	height:28px;
}
#signin_button {
	display:none;
}
#lcancel_button {
	display:none;
}

@media screen and (max-width: 780px) {
	#signin_button {
		display: block;
	}
	#_byb_login_form {
		display: none;
	}
}
#_byb_copy {
	width: 100%;
	text-align: center;
	font-size: 12px;
	color: #536883;
}
